################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Calcul Cb
/Valeur piscines.pdf
/FRCV9.pdf
/Thumbs.db
/Source/.vs/Calcul Cb
